mixin intro()
  section.intro
    .intro__background
      +img("content/intro", "intro", "webp", "1920", "913", "")

    .intro__wrapper
        .container
          .intro__logo
            +icon("logo", 383, 50)
        .container
          .intro__content
            button.btn-reset.btn.intro__btn(type="button" data-open-modal="modal-callback-form") Обсудить проект
              span
                +icon("btn-arrow", 8, 12)
            h1.intro__title Создайте среду, <br> где раскрываются таланты
            p.intro__description офисная мебель для комфортной и продуктивной работы
