mixin intro()
  section.intro
    .intro__background
      +img("content/intro", "intro", "webp", "1920", "913", "")

    .intro__wrapper
        .container
          .intro__handler
            .intro__logo
              +icon("logo", 383, 50)
            h1.intro__title Создайте среду, где раскрываются таланты
