@use "../mixins" as *;
@use "../variables" as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 43px 40px;
  position: relative;

  font-family: $ff-onest;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  border: 1px solid #fff;
  border-radius: 100px;
  background: transparent;
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: background $trans-default;

  outline: none;
  @include vp-1199 {
    padding: 26px 30px;
  }
  @include vp-615 {
    padding: 12px 30px;
  }
  &--white {
    border: 1px solid $color-dolphin;
    background-color: $color-default-white;
    color: $color-black-russian-2;
  }

  svg {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }

  @include hover-focus {
    background: rgba(255, 255, 255, 0.1);
  }
}
