@use "../mixins" as *;
@use "../variables" as *;

.category-card {
  height: 455px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: block;
  @include vp-615 {
    height: 350px;
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform $trans-default;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bottom {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: $color-default-white;
    margin: 0;
    @include vp-1199 {
      font-size: 20px;
    }
  }
  &__wrapper {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__handler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  &__icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity $trans-default, visibility $trans-default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: $color-default-white;
    svg {
      width: 12px;
      height: 12px;
    }
    @include vp-1199 {
      display: none;
    }
  }
  @include hover-focus {
    .category-card__icon {
      opacity: 1;
      visibility: visible;
    }
    .category-card__image {
      transform: scale(1.2);
    }
  }



}
