@use "../mixins" as *;
@use "../variables" as *;

.header {
  z-index: 11;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  background-color: rgba($color-black-russian, 0.9);

  &.is-open {
    .main-nav__toggle {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 8px;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    .main-nav__list {
      transform: translateX(0);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

}
