@use "../mixins" as *;
@use "../variables" as *;

.header {

  background-color: #696969;

  z-index: 11;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  transition: background-color $trans-default;

  @include vp-1199 {
    padding: 9px 0;
  }


  &.is-active {
    background-color: $color-default-black;
    .header__logo--left {
      display: flex;
      @include vp-1199 {
        display: none;
      }
    }
    .header__logo--center {
      @include vp-1199 {
        display: flex;
      }
    }
  }

  &.is-open {
    .header__toggle {
      span {
        &:nth-child(1) {
          top: calc(50%);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          bottom: calc(50% - 1px);
          transform: rotate(-45deg);
        }
      }
    }

    .main-nav__menu {
      transform: translateX(0);
    }
  }


  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  
  &__logo {
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 18px;
    display: none;
    svg {
      width: 35px;
      height: 18px;
    }
  }



  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
    @include vp-1199 {
      width: 100%;
      justify-content: space-between;
    }
  }
  &__phone {
    font-family: $ff-onest;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-default-white;
    transition: opacity $trans-default;
    @include hover-focus {
      opacity: 0.8;
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    svg {
      width: 20px;
      height: 20px;
      transition: opacity $trans-default;
      @include hover-focus {
        opacity: 0.8;
      }
    }
  }

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 32px;
    height: 32px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;


    border-radius: 4px;
    border: 1px solid $color-default-white;

    @include vp-1199 {
      display: block;
    }
    span {
      display: block;
      position: absolute;
      border-radius: 10px;
      left: 7px;

      width: 16px;
      height: 1px;

      background-color: $color-default-white;

      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 10px;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__handler {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__main-nav {
    @include vp-1199 {
      position: absolute;
    }
  }
}


