@use "../mixins" as *;
@use "../variables" as *;

.intro {
  height: calc(100svh - 38px);


  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 40px 0 50px 0;
    @include vp-1199 {
      padding: 25px 0 40px 0;
    }
    @include vp-615 {
      padding: 25px 0 35px 0;
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
    padding: 0 0 35px 0;
    svg {
      width: 383px;
      height: 50px;
      @include vp-1199 {
        width: 241px;
        height: 31px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__btn {
    margin: 0 0 35px;
    @include vp-1199 {
      margin: 0 0 30px;
    }
    @include vp-615 {
      margin: 0 0 25px;
    }
    @media (max-width: 577px) {
      order: 1;
      margin: 20px 0 0 0;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 125%;
    color: $color-default-white;
    margin: 0 0 20px;
    @include vp-1199 {
      font-weight: 500;
      font-size: 34px;
    }
    @include vp-615 {
      font-size: 26px;
      line-height: 110%;
      margin: 0 0 10px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 150%;
    color: $color-default-white;
    margin: 0;
    font-weight: 400;
    @include vp-615 {
      font-size: 16px;
    }
  }

}
