@use "../mixins" as *;
@use "../variables" as *;

.main-nav {

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {

  }

  &__link {
    font-family: $ff-onest;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-default-white;
    padding: 7px 21px 7px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include vp-1199 {
      color: $color-default-black;
    }
  }

  &__menu {
    @include vp-1199 {
      z-index: 10;
      position: fixed;
      overflow: auto;
      top: 54px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 35px 0 0 0;
      background-color: $color-default-white;
      transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
      transform: translateX(100%);
      display: flex;
      flex-direction: column;
    }
  }
}


.main-nav__menu>.container {
  display: contents;
}

@include vp-1199 {
  .main-nav__menu>.container {
    display: block;
    height: auto;
    flex-grow: 1;
  }

  .main-nav__sublist>.container {
    display: contents;
  }
}
