@use "../mixins" as *;
@use "../variables" as *;

.main-nav {

  &__list {
    display: flex;
    align-items: center;
    @include vp-1199 {
      display: block;
    }
  }

  &__item {
    @include vp-1199 {
      border-bottom: 1px solid $color-whisper;
    }
    &--dropdown {
      &.is-active {
        .main-nav__sub-list {
          display: block;
        }
        .main-nav__btn {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    &:not(.main-nav__item--dropdown) {
      .main-nav__link {
        flex-grow: 1;
      }
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__btn {
    display: none;
    flex-shrink: 0;
    @include vp-1199 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      span {
        display: flex;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;
        background-color: $color-alice-blue;
        border-radius: 100px;
      }
      svg {
        transition: transform $trans-default;
      }
    }
  }

  &__link {
    font-family: $ff-onest;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-default-white;
    padding: 7px 21px 7px 21px;
    display: flex;
    align-items: center;
    transition: opacity $trans-default;
    @include vp-1199 {
      color: $color-default-black;
      padding: 20px 0;
    }
    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__sub-list {
    display: none;
    padding: 0 0 20px;
  }

  &__sub-link {
    padding: 12px 20px;
    display: block;
  }


  &__menu {
    @include vp-1199 {
      z-index: 10;
      position: fixed;
      overflow: auto;
      top: 50px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      background-color: $color-default-white;
      transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
      transform: translateX(100%);
      display: flex;
      flex-direction: column;
    }
  }

}


.main-nav__menu>.container {
  display: contents;
}

@include vp-1199 {
  .main-nav__menu>.container {
    display: block;
    height: auto;
    flex-grow: 1;
  }

  .main-nav__sublist>.container {
    display: contents;
  }
}
