@use "../mixins" as *;
@use "../variables" as *;

.main-nav {
  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 30px;
    height: 30px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-767 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      display: block;
      position: absolute;

      left: 0;

      width: 100%;
      height: 3px;

      background-color: $color-default-white;

      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
   
  }

  &__link {
    font-family: $ff-onest;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-default-white;
    padding: 7px 21px 7px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.main-nav__menu>.container {
  display: contents;
}

@include vp-1199 {
  .main-nav__menu>.container {
    display: block;
    height: auto;
    flex-grow: 1;
  }

  .main-nav__sublist>.container {
    display: contents;
  }
}