@use "../mixins" as *;

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1479px) {
    max-width: 1200px;
  }

  @include vp-1199 {
    max-width: 808px
  }

  @include vp-807 {
    max-width: 616px
  }

  @include vp-615 {
    max-width: 400px;
  }

}
