@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Onest";

  font-display: swap;
  src:
    url("../fonts/Onest-ExtraBold.woff2") format("woff2"),
    url("../fonts/Onest-ExtraBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Onest";

  font-display: swap;
  src:
    url("../fonts/Onest-Medium.woff2") format("woff2"),
    url("../fonts/Onest-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Onest";

  font-display: swap;
  src:
    url("../fonts/Onest-Regular.woff2") format("woff2"),
    url("../fonts/Onest-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Onest";

  font-display: swap;
  src:
    url("../fonts/Onest-SemiBold.woff2") format("woff2"),
    url("../fonts/Onest-SemiBold.woff") format("woff");
}