mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Каталог",
      },
      {
        href: "#",
        text: "Наша концепция"
      },
      {
        href: "#",
        text: "Портфолио",
      },
      {
        href: "#",
        text: "Контакты "
      },
      {
        href: "#",
        text: "Шоурумы"
      },
    ]

  header.header(class=headerMods data-header data-fix-block)
    .container
      .header__wrapper
        .header__main-nav.main-nav
          .main-nav__menu
            .container
              ul.list-reset.main-nav__list
                each item in headerLinks
                  li.main-nav__item
                    a.main-nav__link(href=item.href)!=item.text

          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
        .header__actions
            a.header__phone(href="tel:84951233414", aria-label="Позвонить по телефону") +7 (495) 123-34-14
            a.header__cart(href="#", aria-label="Перейти в корзину")
                +icon("shopping-cart", 17, 17)
